__pycache__/
.git/
.pyc
.idea/sonarlint/
/.idea/
/.github/
/.pytest_cache/
/.idea/codeStyles/
/.idea/copyright/
/.idea/dataSources/
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/runConfigurations/
/.idea/shelf/
/.idea/sonarlint/
/.idea/.gitignore
/.idea/appmap.xml
/.idea/codestream.xml
/.idea/dbnavigator.xml
/.idea/deployment.xml
/.idea/encodings.xml
/.idea/ExileCraft.iml
/.idea/git_toolbox_prj.xml
/.idea/graphql-settings.xml
/.idea/jsonSchemas.xml
/.idea/kubernetes-settings.xml
/.idea/markdown.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/qmlSettings.xml
/.idea/QtSettings.xml
/.idea/sonarlint.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/webResources.xml
/.idea/workspace.xml
/tests/.pytest_cache/README.md
/tests/.pytest_cache/.gitignore
/.pytest_cache
/.github
/.github/workflows
/.github/*
